@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
        color: #434455
}
.page {}

.page-header {}

.link {}

.social-links {}

.site-nav {}

.link-to {}

.tel-to {}

.section {}

.buttons-list {}

.btn-page {}

.visualy-hidden {}

.page-box {}

.main-title {}

.main-next {}

.main-text {}

.footer {}

.footer-text {}
