@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --active-links-color: #4D5AE5;
    --ctas-color: #404BBF;
    --headings-color: #2E2F42;
    --valid-fields-color: #31D0AA;
    --body-text-color: #434455;
    --subtle-text-color: #8E8F99;
    --subtle-background-color: #E7E9FC;
    --light-mode-background-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-image-background-color: #2E2F42;
    --background-lite-color: #FFFFFF;
    --background-color-section-1-2-3: #E5E5E5;

}
.page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    position: relative;
        width: 1440px;
        height: 2590px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Header */

.page-header {
    background-color: #FFFFFF;
}

.logo {
    color: var(--headings-color);
     font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    width: 71px;
        height: 24px;
}

.logo-blue {
    color: var(--active-links-color);
    width: 44px;
        height: 24px;
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
}

.link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

.link-to {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-text-color);
}

.link-to:hover {
    color: var(--ctas-color);
}

/* Hero */

.hero {
    background-color: var(--hero-image-background-color);
    color:var(--background-lite-color);    
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
}

.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color:var(--background-lite-color);
}

.btn {
    background-color: var(--active-links-color);
    color: var(--background-lite-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;        
}

.btn:hover{
    background-color: var(--ctas-color);
}

/* Section 1 */

.section {
    position: absolute;
        width: 1128px;
        height: 104px;
        left: 156px;
        top: 792px;
}

.list-title {
    color:var(--overlay-color);
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;        
}

.main-text {
    color:var(--body-text-color);
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;            
}

/* Section 2 */

.section-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
}

/* Section 3 */

.section-3 {
    background-color: var(--light-mode-background-color);
}

.team-card{
    background-color: var(--background-lite-color);
}


.section-3-subtitle{
    color: var(--overlay-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.section-3-text{
    color: var(--body-text-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}

.footer {
    background-color: var(--overlay-color); 
}

.logo-footer{
    color: var(--light-mode-background-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        width: 71px;
            height: 22px;
}

.footer-text {
    color: var(--subtle-background-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}

/* Portfolio */

.btn-page {
    background-color: var(--light-mode-background-color);
    color: var(--active-links-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.btn-page:hover {
    background-color: var(--ctas-color);
    color: var(--background-lite-color);
}

.main-title{
    color: var(--overlay-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}